@import url("https://fonts.googleapis.com/css?family=Istok+Web:400,700");
body {
  font-family: 'Istok Web', sans-serif;
  background: #eee;
  color: #333;
  font-size: 16px; }

h1, h2, h3, h4 {
  margin-top: 0; }

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none; }

a {
  color: #666; }
  a:hover {
    color: #000; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.main-header .top-bar {
  padding: 10px 15px; }
  .main-header .top-bar a {
    font-size: 14px;
    color: #333; }
    .main-header .top-bar a:hover {
      color: #000; }
  .main-header .top-bar .phone-info {
    float: left; }
  .main-header .top-bar .log-in {
    float: right;
    text-transform: uppercase; }
.main-header .container-fluid {
  background: #fff; }
.main-header .container {
  position: relative;
  padding: 0; }
.main-header .navbar {
  margin-bottom: -10px;
  padding-top: 10px;
  border: none; }
  .main-header .navbar .navbar-collapse {
    padding-bottom: 10px; }
  @media all and (max-width: 767px) {
    .main-header .navbar {
      justify-content: flex-start;
      padding-left: 0;
      padding-right: 0; }
      .main-header .navbar .logo {
        margin-bottom: 3px; }
        .main-header .navbar .logo img {
          height: 16px;
          margin-bottom: 8px; }
      .main-header .navbar button {
        border: none;
        padding: 0;
        padding-right: 15px; }
      .main-header .navbar .navbar-toggler:focus {
        outline: none; }
      .main-header .navbar .navbar-toggler img {
        height: 16px; } }
.main-header .search-cart-holder {
  position: absolute;
  top: 10px;
  right: 15px;
  top: 13px; }
  .main-header .search-cart-holder .search, .main-header .search-cart-holder .cart {
    display: inline-block; }
  .main-header .search-cart-holder .search {
    position: relative;
    margin-right: 10px; }
    @media all and (max-width: 340px) {
      .main-header .search-cart-holder .search .form-control {
        width: calc(140px - 2em) !important; } }
    @media all and (min-width: 440px) {
      .main-header .search-cart-holder .search .form-control {
        width: 250px !important; } }
    .main-header .search-cart-holder .search .form-control {
      display: block;
      width: 140px;
      height: 24px;
      border: none;
      border-bottom: 1px solid #ccc;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      box-shadow: none;
      padding-right: 20px;
      padding-top: 3px;
      padding-left: 2px; }
      .main-header .search-cart-holder .search .form-control:focus {
        border-bottom-color: #000; }
    .main-header .search-cart-holder .search .btn {
      position: absolute;
      top: 2px;
      right: 2px;
      background-image: url("../img/search-icon.png");
      background-repeat: no-repeat;
      display: block;
      width: 17px;
      height: 18px;
      border: none;
      background-color: transparent; }
      .main-header .search-cart-holder .search .btn:focus, .main-header .search-cart-holder .search .btn:active {
        box-shadow: none; }
  .main-header .search-cart-holder .cart {
    position: relative; }
    .main-header .search-cart-holder .cart .badge {
      position: absolute;
      padding: 4px 6px 3px;
      background-color: #cc0000;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      bottom: -8px;
      right: -8px; }
.main-header .nav li {
  text-align: center; }
  .main-header .nav li a {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
    display: inline-block; }
    .main-header .nav li a:hover, .main-header .nav li a:focus {
      background-color: transparent;
      border-bottom-color: #ACDACF; }
.main-header .nav .active a {
  border-bottom: 2px solid #ACDACF; }

@media (min-width: 768px) {
  .main-header .top-bar a {
    font-size: 16px; }
  .main-header .logo img {
    width: 80px;
    margin-top: 4px; }
  .main-header nav li.nav-item:not(:last-child) {
    margin-right: 30px; }
  .main-header nav li.nav-item .nav-link {
    padding-left: 0;
    padding-right: 0; }
  .main-header .navbar {
    padding-top: 40px;
    padding-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0; }
    .main-header .navbar .navbar-collapse {
      padding-bottom: 0; }
  .main-header .search-cart-holder {
    top: 9px;
    right: 7px; }
    .main-header .search-cart-holder .search .form-control {
      width: 140px !important; } }
@media (min-width: 992px) {
  .main-header .nav {
    margin-right: 190px; }
    .main-header .nav li:last-child {
      margin-right: 30px; }
  .main-header .search-cart-holder {
    top: 55px; } }
@media (min-width: 1200px) {
  .main-header .logo img {
    width: 104px; } }
.intro-header {
  position: relative;
  margin-bottom: 40px; }
  .intro-header h2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%); }
    .intro-header h2::before, .intro-header h2::after {
      display: none; }
    .intro-header h2 span {
      font-size: 70px;
      color: #FFCE67;
      display: block; }
  .intro-header #intro-slider {
    display: none; }

.frame {
  position: relative; }
  .frame::before, .frame::after {
    content: " ";
    position: absolute;
    width: 130px;
    height: 60px;
    display: block;
    border: 3px solid #fff;
    z-index: 5; }
  .frame::before {
    border-bottom: none;
    border-right: none;
    top: 10px;
    left: 10px; }
  .frame::after {
    border-top: none;
    border-left: none;
    bottom: 10px;
    right: 10px; }

#intro-slider .carousel-indicators li {
  height: 7px;
  width: 7px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
#intro-slider .carousel-indicators .active {
  background-color: #fff; }
#intro-slider .arrow-left, #intro-slider .arrow-right {
  height: 48px;
  width: 26px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
#intro-slider .arrow-left {
  background-image: url("../img/arrow-left.png");
  left: 20%; }
#intro-slider .arrow-right {
  background-image: url("../img/arrow-right.png");
  right: 20%; }

@media (min-width: 768px) {
  .intro-header > img {
    display: none; }
  .intro-header #intro-slider {
    display: block; }
    .intro-header #intro-slider .carousel-indicators {
      bottom: 0; }
  .intro-header h2 {
    padding: 30px 0;
    width: 620px;
    background-color: rgba(0, 0, 0, 0.3); }
    .intro-header h2::before, .intro-header h2::after {
      display: block; } }
@media (min-width: 1200px) {
  .intro-header {
    margin-bottom: 70px; }
    .intro-header h2 {
      font-size: 30px; }
      .intro-header h2 span {
        font-size: 96px; }

  #intro-slider .carousel-indicators {
    bottom: 10px; } }
.color-picker .purple {
  background-color: #7C81EA; }
.color-picker .green {
  background-color: #5eb09b; }
.color-picker .dark-gray {
  background-color: #333; }
.color-picker .red {
  background-color: #cc0000; }
.color-picker .yellow {
  background-color: #ffce87; }
.color-picker .blue {
  background-color: #389ec5; }
.color-picker .orange {
  background-color: #f90; }
.color-picker .light-blue {
  background-color: #85c3dc; }
.color-picker .black {
  background-color: #000; }
.color-picker .beige {
  background-color: beige; }
.color-picker .aqua {
  background-color: #ACDACF; }

.product-section .product-section-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px; }
  .product-section .product-section-title::after {
    content: " ";
    width: 95px;
    height: 5px;
    display: block;
    background-image: url("../img/decoration-line.png");
    margin: 30px auto 0; }
.product-section p {
  font-size: 16px;
  text-align: center;
  color: #999;
  margin-bottom: 15px; }
.product-section .collections-holder a {
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  margin-bottom: 15px; }
  .product-section .collections-holder a img {
    opacity: .8; }
  .product-section .collections-holder a span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center; }
.product-section .collections-holder .frame::before, .product-section .collections-holder .frame::after {
  width: 70px;
  height: 40px;
  border-width: 2px; }
.product-section .products-holder .products-categories {
  margin-bottom: 30px;
  text-align: center; }
  .product-section .products-holder .products-categories li {
    display: inline-block;
    margin-right: 8px; }
    .product-section .products-holder .products-categories li:last-child {
      margin-right: 0; }
    .product-section .products-holder .products-categories li a {
      font-size: 14px;
      text-transform: uppercase;
      display: block;
      padding-top: 10px;
      border-top: 2px solid transparent; }
      .product-section .products-holder .products-categories li a:hover {
        border-top-color: #ACDACF; }
    .product-section .products-holder .products-categories li.active a {
      border-top-color: #ACDACF;
      color: #000; }
.product-section .products-holder .product {
  margin-bottom: 35px; }
  .product-section .products-holder .product .product-image-holder {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden; }
    .product-section .products-holder .product .product-image-holder > a {
      display: block;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s; }
    .product-section .products-holder .product .product-image-holder .hover-list {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 19px 0;
      text-align: center;
      background-color: rgba(133, 195, 220, 0.95); }
      .product-section .products-holder .product .product-image-holder .hover-list li {
        display: inline-block;
        margin: 0 6%; }
  .product-section .products-holder .product .product-title {
    margin-bottom: 15px;
    padding: 0 15px; }
    .product-section .products-holder .product .product-title h3 {
      font-size: 16px;
      float: left;
      margin-bottom: 0; }
      .product-section .products-holder .product .product-title h3 span {
        display: block; }
    .product-section .products-holder .product .product-title > span {
      float: right;
      text-transform: uppercase;
      color: #000; }
  .product-section .products-holder .product .color-picker {
    padding: 0 15px; }
    .product-section .products-holder .product .color-picker li {
      float: left;
      margin-right: 5px; }
      .product-section .products-holder .product .color-picker li:last-child {
        margin-right: 0; }
      .product-section .products-holder .product .color-picker li a {
        display: block;
        width: 16px;
        height: 16px;
        text-indent: -9999px; }
  .product-section .products-holder .product:hover .product-image-holder > a {
    opacity: .6; }

@media (max-width: 400px) {
  .article-clear {
    flex: 0 0 100%;
    max-width: 100%; } }
@media (min-width: 400px) {
  .product-section p {
    margin-bottom: 25px; }
  .product-section .collections-holder a {
    margin-bottom: 30px; } }
@media (min-width: 768px) {
  .product-section p {
    margin-bottom: 15px; }
  .product-section .collections-holder .frame::before, .product-section .collections-holder .frame::after {
    width: 130px;
    height: 60px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s; }
  .product-section .collections-holder .frame:hover::before {
    top: 30px;
    left: 30px; }
  .product-section .collections-holder .frame:hover::after {
    bottom: 30px;
    right: 30px; }
  .product-section .products-holder .products-categories {
    margin-bottom: 40px; }
    .product-section .products-holder .products-categories li {
      margin-right: 50px; }
      .product-section .products-holder .products-categories li a {
        font-size: 16px; } }
@media (min-width: 992px) {
  .product-section p {
    margin-bottom: 70px; }
  .product-section .collections-holder a {
    margin-bottom: 55px; }
  .product-section .products-holder .product .product-image-holder .hover-list {
    bottom: -62px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s; }
  .product-section .products-holder .product .product-image-holder:hover .hover-list {
    bottom: 0; } }
@media (min-width: 1200px) {
  .product-section .collections-holder a {
    margin-bottom: 55px; }
  .product-section .article-clear .product {
    margin-bottom: 50px; } }

/*# sourceMappingURL=main.css.map */
