.main-header {
  .top-bar {
    padding: 10px 0;
    a {
      font-size: 14px;
      color: $main-color;
      &:hover {
        color: $link-hover;
      }
    }
    .phone-info {
      float: left;
    }
    .log-in {
      float: right;
      text-transform: uppercase;
    }
  }
  .container-fluid{
    background: #fff;
  }
  .navbar {
    margin-bottom: 0;
    border: none;
    @media all and (max-width: 350px){
      justify-content: flex-start;
      h1 {
        order: 2;
      }
      .navbar-toggler{
        order: 1;
        .navbar-toggler-icon{
          background-image: url(img/bars.svg);
          color: black;
        }
      }
    }
  }
}
