.main-header {
  .top-bar {
    padding: 10px 0;
    a {
      font-size: 14px;
      color: $main-color;
      &:hover {
        color: $link-hover;
      }
    }
    .phone-info {
      float: left;
    }
    .log-in {
      float: right;
      text-transform: uppercase;
    }
  }
  .navbar {
    background: #fff;
    margin-bottom: 0;
    border: none;
  }
}
